/* // Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) { 
    .big-text{
        font-size: 30px;
        color: white;
        text-align: center;
    }
    .small-text{
      font-size: 15px;
      color: white;
      text-align: center;
    }
    button{
        border: none;
         text-align: center;
         /* margin: auto;
         display: flex;
         height: 30px;
         width: 100px;
    } */
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }