@media only screen and (max-width: 600px) {
    .text2 {
        text-align: left;
    }

    .img {
        height: 259px;
        width: 317px;
    }

    .itemsalign {
        margin-right: 9px;
    }
    .textformat,.subtext{
        font-size: 16px;
    }
    .textmsg {
        width: 300px;
    }
}