@media screen and (max-width: 480px) {
    .forMb {
        display: none;
    }

    .hideButton {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .forMb {
        display: none;
    }

}

/* typography */
@media screen and (max-width: 480px) {
    .slash {
        margin-right: -3px;
    }

    .dot {
        margin-right: -3px;

    }

    .navbar-nav {
        margin-left: 10px;
    }
}