@media screen and (max-width: 480px) {
    .forMb {
        display: none;
    }

    .hideButton {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .forMb {
        display: none;
    }

}