
/* :root{
    --primary:rgba(33, 5, 5, 0.384);
    --secondary:rgba(15, 15, 15, 0.356);
    

}
.bg{
   height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-image: url("/assets/images/services-bg.jpg");
} */
.icon-bar{
    background: rgb(41, 39, 38);
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    }